*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  position: relative;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f0f8ffd0;
  display: -ms-grid;
  display: grid;
}

header {
  height: 14rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

header h1 {
  font-size: 3rem;
  font-family: cursive, monospace;
}

.modal {
  z-index: 10;
  display: none;
  place-items: center;
  position: absolute;
  background: #000000a4;
  margin-top: 44rem;
  height: 100vh;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal .modal-content {
  background: #2c2b2b;
  border: none;
  border-radius: 2rem;
  height: 60%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-content .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

.modal .modal-content .inputBox label {
  color: #fff;
  font-size: 2rem;
  font-family: cursive, sans-serif;
}

.modal .modal-content .inputBox input {
  font-family: cursive, sans-serif;
  margin: 0 1.5rem;
  height: 3rem;
  width: 20rem;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 1.7rem;
}

.modal .modal-content .inputBox .pBtn {
  background: #000;
  color: #fff;
  cursor: pointer;
  height: 3rem;
  width: 7rem;
  border: none;
  border-radius: 2px;
}

.modal .modal-content .inputBox .pBtn:hover {
  background: #fff;
  color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.modal .modal-content .inputBox .pBtn:active {
  background: #fff;
  color: #000;
  -webkit-transform: scale(0.9s);
          transform: scale(0.9s);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.modal .modal-content #playGame {
  background: #000;
  color: #fff;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 2px;
  margin-top: 3rem;
}

.modal .modal-content #playGame:hover {
  background: #fff;
  color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.modal .modal-content #playGame:active {
  background: #fff;
  color: #000;
  -webkit-transform: scale(0.9s);
          transform: scale(0.9s);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.modal1 {
  z-index: 10;
  display: none;
  place-items: center;
  background: #000000a4;
  margin-top: -14rem;
  height: 100vh;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal1 .modal-content {
  background: #2c2b2b;
  border: none;
  border-radius: 2rem;
  height: 60%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal1 .modal-content .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

.modal1 .modal-content .inputBox label {
  color: #fff;
  font-size: 2rem;
  font-family: cursive, sans-serif;
}

.modal1 .modal-content .inputBox input {
  font-family: cursive, sans-serif;
  margin: 0 1.5rem;
  height: 3rem;
  width: 20rem;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 1.7rem;
}

.modal1 .modal-content .inputBox .sumbitPlayer {
  background: #000;
  color: #fff;
  cursor: pointer;
  height: 3rem;
  width: 7rem;
  border: none;
  border-radius: 2px;
}

.modal1 .modal-content .inputBox .sumbitPlayer:hover {
  background: #fff;
  color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.modal1 .modal-content .inputBox .sumbitPlayer:active {
  background: #fff;
  color: #000;
  -webkit-transform: scale(0.9s);
          transform: scale(0.9s);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.modal1 .modal-content #playAI {
  background: #000;
  color: #fff;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 2px;
  margin-top: 3rem;
}

.modal1 .modal-content #playAI:hover {
  background: #fff;
  color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.modal1 .modal-content #playAI:active {
  background: #fff;
  color: #000;
  -webkit-transform: scale(0.9s);
          transform: scale(0.9s);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

#mainOne {
  height: 42rem;
  display: none;
  place-items: center;
}

#mainOne .gameBoard {
  height: 80%;
  width: 30%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

#mainOne .gameBoard .gameBox {
  cursor: pointer;
  border: solid;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#mainOne .gameBoard .gameBox .elstyle {
  font-size: 3.5rem;
}

#mainOne .gameBoard #one {
  border-left: none;
  border-top: none;
}

#mainOne .gameBoard #two {
  border-top: none;
}

#mainOne .gameBoard #three {
  border-top: none;
  border-right: none;
}

#mainOne .gameBoard #four {
  border-left: none;
}

#mainOne .gameBoard #six {
  border-right: none;
}

#mainOne .gameBoard #seven {
  border-left: none;
  border-bottom: none;
}

#mainOne .gameBoard #eight {
  border-bottom: none;
}

#mainOne .gameBoard #nine {
  border-right: none;
  border-bottom: none;
}

#mainFour {
  z-index: 100;
  height: 43.5rem;
  display: none;
  place-items: center;
}

#mainFour .gameBoard {
  height: 80%;
  width: 30%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

#mainFour .gameBoard .gameBox1 {
  cursor: pointer;
  border: solid;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#mainFour .gameBoard .gameBox1 .elstyle {
  font-size: 3.5rem;
}

#mainFour .gameBoard #one {
  border-left: none;
  border-top: none;
}

#mainFour .gameBoard #two {
  border-top: none;
}

#mainFour .gameBoard #three {
  border-top: none;
  border-right: none;
}

#mainFour .gameBoard #four {
  border-left: none;
}

#mainFour .gameBoard #six {
  border-right: none;
}

#mainFour .gameBoard #seven {
  border-left: none;
  border-bottom: none;
}

#mainFour .gameBoard #eight {
  border-bottom: none;
}

#mainFour .gameBoard #nine {
  border-right: none;
  border-bottom: none;
}

#mainTwo {
  margin-top: 14rem;
  position: absolute;
  height: 43.5rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#mainTwo .placeholder {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#mainTwo .placeholder .divOne {
  width: 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mainTwo .placeholder .divOne #ninja {
  height: 4rem;
}

#mainTwo .placeholder .content {
  height: 80%;
  width: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#mainTwo .placeholder .content h1 {
  font-size: 3rem;
  font-family: cursive, sans-serif;
}

#mainTwo .placeholder .content .divTwo button {
  cursor: pointer;
  border: none;
  border-radius: 1px;
  font-size: 2rem;
  font-family: cursive, sans-serif;
  background: #000;
  color: #fff;
  height: 5rem;
  width: 20rem;
  margin: 0 3rem;
}

@media screen and (min-width: 400px) and (max-width: 900px) {
  #mainTwo .placeholder .content .divTwo button {
    width: 12rem;
    font-size: 1.4rem;
    margin: 0 1rem;
  }
}

@media screen and (min-width: 900px) {
  #mainTwo .placeholder .content .divTwo button {
    margin: 0 2px;
  }
}

#mainTwo .placeholder .content .divTwo button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#mainTwo .placeholder .content .divTwo button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#mainThree {
  background: aliceblue;
  position: absolute;
  z-index: 200;
  height: 103%;
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainThree .result {
  height: 70%;
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
}

#mainThree .result .btn {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

#mainThree .result .btn button {
  color: #fff;
  cursor: pointer;
  font-family: cursive, sans-serif;
  height: 4rem;
  width: 10rem;
  border: none;
  border-radius: 2rem;
  background: #000;
}

#mainThree .result .btn button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#mainThree .result .btn button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#mainThree .result .results {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#mainThree .result .results .h1style {
  font-size: 7rem;
  font-family: cursive, sans-serif;
}
/*# sourceMappingURL=main.css.map */