*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    font-size: 62.5%;
    box-sizing: border-box;
    background: #f0f8ffd0;
}

header {
    height: 10rem;
    display: grid;
    place-items: center;

    h1 {
        font-size: 3rem;
        font-family: cursive, monospace;
    }
}

main {
    height: 47.5rem;
    display: grid;
    place-items: center;

    .gameBoard {
        height: 80%;
        width: 30%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .gameBox {
            cursor: pointer;
            border: solid;
            display: grid;
            place-items: center;
        }

        #one {
            border-left: none;
            border-top: none;
        }

        #two {
            border-top: none;
        }

        #three {
            border-top: none;
            border-right: none;
        }

        #four {
            border-left: none;
        }

        #six {
            border-right: none;
        }

        #seven {
            border-left: none;
            border-bottom: none;
        }

        #eight {
            border-bottom: none;
        }

        #nine {
            border-right: none;
            border-bottom: none;
        }
    }
}